<ion-view view-title="Teams">
  <ion-content class="padding">
    <ion-list show-delete="false" show-reorder="false" can-swipe="false">
      <ion-item ng-repeat="team in teams" class="team" href="#/tab/teams/{{team.id}}">
        <div class="name" ng-bind="team.name"></div>
        <div class="icon"><img ng-src="{{team.icon}}"></div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
