<ion-view view-title="{{noSelection ? 'Fuse People' : selectedPerson.name}}">
  <ion-content class="padding">
    <div ng-if="noSelection">
      <h2>FUSE</h2>
      <p>Welcome to the people at fuse App. We want you know know about us and really connect with the Fuse culture.</p>
      <p>In order to find a person or app, just go to the teams tab and select a team. From there you can find all the people that work on that team and the interesting details about them.</p>
    </div>
    <div ng-if="!noSelection">
      <p ng-bind="selectedPerson.bio"></p>
      <button class="button button-full button-positive" ng-click="takeAPicture()">
        Take a Picture of {{selectedPerson.name}}
      </button>

      <p>For this next step just run</p>
      <pre>cordova plugin add cordova-plugin-camera
      </pre>
      <p>see <a href="http://ngcordova.com/docs/plugins/camera/">this page</a> for more details.</p>
      <p>AND see <a href="http://ngcordova.com/docs/install/">this page</a> for even more details.</p>
      <img id="freshphoto">
    </div>
  </ion-content>
</ion-view>
