<ion-view view-title="{{selectedTeam.name}}">
  <ion-content class="padding">
    <ion-list show-delete="false" show-reorder="false" can-swipe="false">
      <ion-item ng-repeat="member in selectedTeam.members" class="member" href="#/tab/people/{{member.id}}">
        <div class="name" ng-bind="member.name"></div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
