<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="People" icon-off="ion-person" icon-on="ion-person" href="#/tab/people/">
    <ion-nav-view name="tab-people"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Teams" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/teams">
    <ion-nav-view name="tab-teams"></ion-nav-view>
  </ion-tab>
</ion-tabs>
